<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer instance="OrviSoft\CouponPerProduct\Observer\Sales\OrderPlaceAfter" name="orvisoft_couponperproduct_observer_sales_orderplaceafter_sales_order_place_after"/>
	</event>
</config>